@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="meny">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Pictures</li>
            </ul>
        </div>

        <div class="content">
           @RenderBody()
        </div>
        
    </body>
</html>
