<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="menuWrap">
                
            </div>
            <div class="bodyWrap">
                @RenderBody()
            </div>
            <div class="footerWrap">

            </div>
        </div>
    </body>
</html>