@{
    Page.Title = "Kontakta oss";
    
    
    if(IsPost)
    {
        var name = Request.Form["name"];
        var email = Request.Form["email"];
        var question = Request.Form["question"];
        
        <div id="formData">
            Namn: @name <br />
            E-Mail: @email <br />
            Fråga: @question <br />
        </div>
    }
    else
    {
        <div>
            <form action="index" method="post">
                Namn: <br /> <input type="text" name="name" /> <br />
                Mail: <br /> <input type="email" name="email" /> <br />
                Fråga:<br /> <textarea name="question"></textarea> <br />
                <input type="submit" value="Send" />
            </form>
        </div>
    }
}


